@import "https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap";
:root {
  --normal-text: #d9d9d9;
  --sub-text: #aaaaaa;
  --debug-text: #494949;
  --highlighted-text: #35A8E7;
  --highlighted-shadow: #356AE7;
}
#foobar {
  display: none;
}
.upper-menu {
  position: fixed;
  top: 0;
  left: 0;
  font-size: 12px;
  padding: 10px;
  margin-left: 10px;
  color: var(--debug-text);
}
.debug {
  padding-left: 10px;
}
body {
  font-family: roboto mono, monospace;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #111;
  color: var(--normal-text);
  overflow: hidden;
}
.main {
  display: grid;
  grid-gap: 20px;
}
.container {
  width: 550  px;
  height: 180px;
  padding: 120px;
  border-radius: 20px;
  background-color: #151515;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  grid-column: 1 / span 2;
}
.profile-pic {
  width: 280px;
  height: 280px;
  border-radius: 3%;
  object-fit: cover;
  margin-right: 10px;
  transform: translateX(-50px);
}
.info {
  flex: 1;
  font-size: 15px;
  max-width: 1200px;
  max-lines: 1200px;
  white-space: nowrap;
}
.info span {
  color: var(--highlighted-text);
  filter: drop-shadow(0 0 0.25rem var(--highlighted-shadow));
}
h1 {
  margin-top: 0;
}
p {
  margin-bottom: 5px;
}
.hidden {
  transition: all 2s;
  filter: blur(100px);
}
.show {
  opacity: 1;
  filter: blur(0);
}
@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}
.sub-container {
  background-color: #151515;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
}
.social-container {
  background-color: #151515;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.command {
  font-size: 14px;
  color: var(--sub-text);
  margin: 0;
}
@media (max-width: 600px) {
  .main {
    grid-template-columns: 1fr;
  }
  .container {
    width: 90%;
    height: auto;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .profile-pic {
    width: 200px;
    height: 200px;
    margin-right: 0;
    margin-bottom: 20px;
    transform: none;
  }
  .sub-container {
    display: none;
  }
  .upper-menu {
    display: none;
  }
  .hidden {
    filter: blur(100px);
  }
  .show {
    filter: blur(0);
  }
  .social-container {
    margin-left: 20px;
  }
}

# Made by GoT Flamingo